workflows/Mensa Food List.json
{
  "name": "Mensa Food List",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "response_url"
            },
            {
              "name": "user_id"
            },
            {
              "name": "channel_id"
            },
            {
              "name": "webhook_url"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        -64
      ],
      "id": "fd53191b-b9e1-41f0-8ae5-28885c7a99fb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c6573fe-5c37-4b7b-8af8-7513be6a65e9",
              "leftValue": "={{ $json.response_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1216,
        -48
      ],
      "id": "5213afec-3d84-45c5-be61-9e7a157955f3",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const notifications = item.json.data.filter(it => it.diet && it.query);\n  const dietOrder = { \"all\": 1, \"veggi\": 2, \"vegan\": 3 };\n  notifications.sort((a, b) => (dietOrder[a.diet] || 99) - (dietOrder[b.diet] || 99));\n  \n  item.json.data = notifications;\n  item.json.text = \"🔔 **Active Lunch Alerts**\";\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        80
      ],
      "id": "06825a3a-0782-4476-b284-d67731205152",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        736,
        -48
      ],
      "id": "5d37a853-655f-4aec-98cf-cae3eada8221",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Mensa_Food_Notifications",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -160,
        80
      ],
      "id": "f6e2fca4-01e9-4f93-8e3f-d5df05ef47d5",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        96,
        80
      ],
      "id": "ef6d5250-416b-4bf5-934a-061d4514199c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2qyAYjLNVWsdKxUWthKcl",
          "mode": "list",
          "cachedResultUrl": "/workflow/2qyAYjLNVWsdKxUWthKcl",
          "cachedResultName": "Get Private Channel ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1504,
        80
      ],
      "id": "4c4d4999-cf73-4491-b118-a6d4d17d044c",
      "name": "Call 'Get Private Channel ID'"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1744,
        -16
      ],
      "id": "1c292a62-000b-4d97-8d05-0bb4dc7eea51",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hci2.uni-konstanz.de/api/v4/posts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mattermostApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel_id\": \"{{ $json.channel_id }}\",\n  \"message\": \"{{ $json.text }}\",\n  \"props\": {\n    \"attachments\": {{ JSON.stringify($json.attachments) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2048,
        -16
      ],
      "id": "27514895-b424-48a5-b9eb-295830bf1004",
      "name": "HTTP Request",
      "credentials": {
        "mattermostApi": {
          "id": "7ezEmFfnqQg3Rx2Z",
          "name": "Mattermost HCI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const notifications = item.json.data;\n  item.json.attachments = [];\n  \n  if(notifications.length == 0) {\n    item.json.text += \"\\n\\n_You don't have any lunch alerts configured right now_\";\n  } else {\n    item.json.text_command = notifications.map(it => \"* `\" + it.diet + \"`: \" + it.query).join(\"\\n\");\n    item.json.attachments = notifications.map(it => {\n      return {\n        color: \"#3a70f4\",\n        text: \"**Keyword:** \" + it.query + \" - **Diet**: \" + it.diet,\n        actions: [\n          {\n            id: \"del\" + it.query + it.user_id, \n            name: \"🗑️ Remove Alert\",\n            type: \"button\",\n            style: \"danger\",\n            integration: {\n              url: item.json.webhook_url,\n              context: {\n                action: \"delete_alert\",\n                keyword: it.query\n              }\n            }\n          }\n        ]\n      }\n    });\n  }\n\n  item.json.attachments.push({\n    color: \"#2ecc71\",\n    text: \"**⚙️ Actions**\",\n    actions: [\n      {\n        id: \"triggeraddomdal\", \n        name: \"➕ Add New Alert\",\n        type: \"button\",\n        style: \"primary\",\n        integration: {\n          url: item.json.webhook_url,\n          context: {\n            action: \"open_add_dialog\"\n          }\n        }\n      }\n    ]\n  });\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -48
      ],
      "id": "614b5b87-2acf-488e-aaf6-2df90379b49b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.response_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mattermostApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "response_type",
              "value": "ephemeral"
            },
            {
              "name": "attachments",
              "value": "={{ $json.attachments }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        -336
      ],
      "id": "7ff365d3-1cc2-46ce-84bb-46eaf4342d1a",
      "name": "Send Mattermost Message",
      "credentials": {
        "mattermostApi": {
          "id": "7ezEmFfnqQg3Rx2Z",
          "name": "Mattermost HCI"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Mattermost Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Get Private Channel ID'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get Private Channel ID'": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c34d0f67-88fc-4943-b7c0-4993b4afe0b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33cb51054af562f7b4990b9fc18b714fda1d63cbdd96ac7492c7d73ce16109dc"
  },
  "id": "5HSHkygzAyEGvYSr",
  "tags": []
}
