workflows/Mensa Food Notify.json
{
  "name": "Mensa Food Notify",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "response_url"
            },
            {
              "name": "user_id"
            },
            {
              "name": "params",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        -64
      ],
      "id": "29c2466a-9543-48de-8d6b-a913723e9ea2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.response_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "response_type",
              "value": "ephemeral"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2032,
        -384
      ],
      "id": "c202f634-923b-4955-b716-1808afa791c0",
      "name": "Send Mattermost Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c6573fe-5c37-4b7b-8af8-7513be6a65e9",
              "leftValue": "={{ $json.response_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1648,
        -240
      ],
      "id": "cf1f20fa-8317-44b6-b33a-d6f362e18917",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.text = \"❌ **Missing required parameters**\\n\\n\" +\n                   \"**Usage:** `/lunch notify [diet] [keyword]`\\n\" +\n                   \"* `[diet]`: Must be exactly `all`, `veggie`, or `vegan`\\n\" +\n                   \"* `[keyword]`: The food name you want to track (use quotes for multiple words)\\n\\n\" +\n                   \"💡 *Example:* `/lunch notify vegan \\\"thai curry\\\"` or `/lunch notify all pizza`\";\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -240
      ],
      "id": "a929912c-63f6-472c-9d3f-adc3bc76ad09",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.params }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "e8bc3cea-d4d7-46d9-9d89-352ed13f67b1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no params"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "818f56ed-9164-4f48-8f9b-ec75198f6001",
                    "leftValue": "={{ $json.params[0] }}",
                    "rightValue": "/^(all|veggie|vegan)$/i",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "is valid diet"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -400,
        -80
      ],
      "id": "d03fc722-0f14-4964-9705-2f7ac1ab8a3f",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d860748b-5824-4829-8e94-a04356944678",
              "name": "diet",
              "value": "={{ $json.params[0] }}",
              "type": "string"
            },
            {
              "id": "253726b5-a30f-4e97-9c4d-5e3b00d60cb6",
              "name": "query",
              "value": "={{ $json.params.slice(1).map(it => it.toLowerCase()) }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        80
      ],
      "id": "21935a97-165d-41b8-a773-152f9a4492a5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "Mensa_Food_Notifications",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}"
            },
            {
              "keyName": "query",
              "keyValue": "={{ $json.query }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query.toLowerCase() }}",
            "diet": "={{ $json.diet }}",
            "user_id": "={{ $json.user_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "diet",
              "displayName": "diet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        640,
        80
      ],
      "id": "e7f1c0a8-df51-4fc1-aaeb-23aba4d0dcb3",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "fieldToSplitOut": "query",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        80
      ],
      "id": "9741393d-1b8a-4811-9e2b-28e81de683df",
      "name": "Split Out"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        880,
        80
      ],
      "id": "ab0b62fd-6a09-4bdd-8c71-cf89fba5365f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const diet = item.json.data[0].diet;\n  item.json.text = \"💾 **Alert created**\\n\\n\" +\n                   item.json.data.map(it => \"* Keyword: \" + it.query + \" - Diet: \" + it.diet).join(\"\\n\");\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        80
      ],
      "id": "09b9fbfb-6c21-4255-87e0-a2fc818742cd",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1424,
        -48
      ],
      "id": "33b96a31-e0eb-4639-ae16-5d8699fc43d5",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "80495c14-a955-4b34-8c6f-1127b8738c19",
              "leftValue": "={{ $json.query }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        80
      ],
      "id": "c2269840-5656-4a1b-8448-b51e91cf9b54",
      "name": "If has Query"
    },
    {
      "parameters": {
        "channelId": "={{ $json.channel_id }}",
        "message": "={{ $json.text }}",
        "attachments": [],
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.mattermost",
      "typeVersion": 1,
      "position": [
        2352,
        -16
      ],
      "id": "48866e24-c2df-41ff-8ef0-bb56524b7067",
      "name": "Post a message",
      "credentials": {
        "mattermostApi": {
          "id": "7ezEmFfnqQg3Rx2Z",
          "name": "Mattermost HCI"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2qyAYjLNVWsdKxUWthKcl",
          "mode": "list",
          "cachedResultUrl": "/workflow/2qyAYjLNVWsdKxUWthKcl",
          "cachedResultName": "Get Private Channel ID"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.user_id }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1888,
        0
      ],
      "id": "47dc6e31-7bc0-4559-b1a9-8dff96ab2cfd",
      "name": "Call 'Get Private Channel ID'"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2128,
        -16
      ],
      "id": "2e10cb8e-0a63-4be7-bf6b-4916cefec197",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Mattermost Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Get Private Channel ID'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If has Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If has Query": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Get Private Channel ID'": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Post a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "dc4262a2-622c-4450-bda0-831bbf933bc2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "33cb51054af562f7b4990b9fc18b714fda1d63cbdd96ac7492c7d73ce16109dc"
  },
  "id": "LlDwYRHYaSlqrYaG24n8R",
  "tags": []
}
